@{
    ViewBag.Title = "About I.S. Kennels";
}
<h2>@ViewBag.Title.</h2>
<hr />

<div class="col-md-6">
    <h3>@ViewBag.Message</h3>
    
    <br />
    <p>
        Are looking to go on holiday, but don't know what to do with your furry friend?
        We know you want to be sure that your pet will be safe and having a good time too.
        Here at I.S. Kennel Finder we strive to help you find the best kennel for you and your dog.
        We list many kennels in Ireland and allow you to browse, and book from our database of kennels to help you locate the right boarding service for your pet.
        We also encourage our kennel owners to add information about their kennel services, facilities and fees to help you choose the best boarding facilty for you and your pet.

    </p>

    <br />
    <br />
    <p>
        Are you a kennel owner looking to find more business?
        Register with us today and join our network of kennel owners and customers.
    </p>
    <br />
    <br />
</div>

<div class="col-md-6">
    <img src="http://az616578.vo.msecnd.net/files/2016/04/03/635953137741457428-1145484666_autumn.jpg" alt="About" style="width:100%;height:100%;">
</div>

   <br style="clear:both;" />
